%h1.page-header
  How do we buy silver in NYC?
  %br
  %small How do we buy silver? 
  %h2
    %span 
      = "How do we ensure you get a fair and profitable return on your item?"
  %p.lead
    %span 
      = "Our buyers are experienced precious metals assessors who carefully inspect each piece for Silver Marks, Hallmarks, Trademarks and Maker’s Marks to assess authenticity and determine the value of your silver. Silver hallmarks are some of the most essential elements in identifying antique and vintage silver jewelry, flatware, cutlery, silver serving pieces and other sterling silver items. They provide critical information about value, age, silver content, and history of your treasured pieces. Hallmarks are small symbols that can be found stamped on the back or underside of silver items. The symbols declare the purity of the silver, origin of the piece, where it was manufactured, and sometimes the date it was made."
  %hr
  %h3
    %span
      = "Our process of identifying and evaluating silver jewelry or household items involves:"
  %p.lead
    %span
      = "Finding and locating the hallmark on the piece. For large, flat jewelry items like silver pendants, brooches or pins, turn the piece over to reveal the tiny stamp on the back of the item. For rings and cuff bracelets, look at the interior surface of the band. Necklaces and other items with chains usually feature a stamp someplace near the clasp. Occasionally, this will be imprinted on a small metal tag. Household silver items like bowls, teapots, trays, dishes, candlesticks, vases, figurines and other decorative pieces have the hallmark stamped on the bottom of the pieces. Vanity and personal care items like mirrors, hairbrushes and other dresser set components will be stamped on the underside or on the handle."
  %p.lead
    %span
      = "Next step is to Examine the Mark. To ensure that the mark is visible, gently clean and polish the area around the mark with a soft cloth or cotton swab to create a contrast between the darkened, tarnished recessed area and the surrounding metal. Use a magnifying glass for ease in identifying symbols if you cannot make out the details."
  %p.lead
    %span
      = "Determine silver or metal content. It can be difficult to distinguish between sterling silver and silver plate. Because pure silver is a soft metal, manufacturers almost never use it alone. Sterling silver is crafted from 925 parts pure silver and 75 parts alloy such as copper and nickel for durability. Silver plated items are made from a base metal and then coated with a thin layer of pure silver. Silver marks hold the key to telling the difference between the two. American silver items created after 1850 will be stamped 'Sterling', '925', '925/1000', or '92.5%' somewhere on the piece, along with a pictorial or initial maker’s mark. If an item does not have any stamp indicating it is sterling silver, it is most likely silver plated. Silver plated items are not as valuable as sterling silver because they have no intrinsic silver value and are lighter in weight than sterling silver. Because the coating is so thin, there isn’t enough silver content to have melt down value and thus, plated silver items do not retain their resale value. Some silver plated items are stamped 'silver plate', 'EPNS' (for electro-plated nickel silver), 'nickel silver', or other similar phrases. We do not purchase silver plated items." 
  %p.lead
    %span
      = "It is particularly important to validate the silver item’s age, maker, condition, pattern or design to determine its value. Each of these factors play compelling roles in determining the true value of your silver. Although the value of silver as a commodity is a good place to start, it is most certainly not the only factor involved in assessing an item’s worth. We remain true to our promise to pay you a premium above the spot price in cash, which is more than what you will be offered anywhere else. Call us now at (718) 846-1600 or visit one of our locations. Please note that we do not purchase nor sell stolen goods."
  %img.img-responsive{:alt => "", :src => "/ph.jpg"}
  
%hr